PORT=3001
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=change-this-secret
MSSQL_CONNECTION_STRING=
QMF_TABLE=
AUTH_USER_TABLE=
SECURITY_KEY=
# SECURITY_KEY_FILE=C:\secure\linkonx.key
LOGIN_RATE_LIMIT_ENABLED=true
